<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odyssey</title>
  </head>
  <body class="bg-desert">
    <div class="main-grid">
      <header>
        <h1> Odyssey </h1>
      </header>
      <div class="container">
        <div class="card form-container">
          <form class="form-grid" id="form">
            <label class="grid-item-label" for="input-destination"> Destination </label>
            <input class="grid-item-input" type="text" id="input-destination" value="" placeholder="Destination">
            <label class="grid-item-label" for="input-date"> Departing Date </label>
            <input class="grid-item-input" type="date" id="input-date">
          </form>
          <button id="submit-button" type="button" name="button">Submit</button>
        </div>

        <section class="card">
          <h2 id="result-date"> Days until trip</h2>
        </section>
        <section class="card">
          <h2>Weatherforecast</h2>
          <div id="result-weather">
          </div>
        </section>
        <section class="card">
          <h2>Pixabay Images</h2>
          <div id="result-image">
          </div>
        </section>
      </div>
      <footer>
        <p>
          2020 Hanqiu Jiang, created under quarantine conditions
        </p>
        <p>
          Thanks to the following public APIs:
          <a href="http://geonames.org">geonames.org</a>,
          <a href="http://weatherbit.io">weatherbit.io</a>,
          <a href="http://pixabay.com">pixabay.com</a>
        </p>
      </footer>
    </div>
  </body>
</html>
