<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Journey</title>
  </head>
  <body class="bg-island">
    <header>
      <h1> Journey </h1>
    </header>
    <div class="container">
      <section>
        <label for="input-destination"> Destination </label>
        <input type="text" name="input-destination" value="" placeholder="Destination">
        <label for="input-date"> Departing Date </label>
        <input type="date" name="input-date">
      </section>
      <section>
        <h2>Pixabay Images</h2>
      </section>

      <section>
        <h2>Weatherforecast</h2>
      </section>
    </div>
    <footer>
    </footer>
  </body>
</html>
