<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Odyssey</title>
  </head>
  <body class="bg-desert">
    <div class="main-grid">
      <header>
        <h1> Odyssey </h1>
      </header>
      <div class="container">
        <form class="form-grid card" >
          <label for="input-destination"> Destination </label>
          <input type="text" id="input-destination" value="" placeholder="Destination"> <br>
          <label for="input-date"> Departing Date </label>
          <input type="date" id="input-date">
        </form>
        <section class="card">
          <h2>Pixabay Images</h2>
        </section>

        <section class="card">
          <h2>Weatherforecast</h2>
        </section>
      </div>
      <footer>
        Footer
      </footer>
    </div>
  </body>
</html>
