.bg-island {
  background-image: url("../images/island.jpg");
  background-size: cover;
}

.bg-gradient {
  background: linear-gradient(rgba(255, 150, 46, 1.0), rgba(70, 45, 0, 1.0));
  background-repeat: no-repeat
}

.bg-desert {
  background-image: url("../images/desert-night.jpg");
  background-size: cover;
  background-position: center;
}
