.card {
  background-color: snow;
  width: 95%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px 15px;
  box-shadow: 4px 4px 2px 0 rgba(200,200,200,0.3);
  color: rgb(40, 30, 30);
  font-size: 14px;
}
