@import url("./background.scss");
@import url("./card.scss");

@font-face { font-family: Silkscreen; src: url('../fonts/slkscr.ttf'); }

$fontsize-header-mobile: 50px; // 70px for Desktop

html {
  font-family: Silkscreen;
}

body {

  header {
    grid-area: head;

    h1 {
      font-size: $fontsize-header-mobile;
      padding-left: 15px;
      text-align: center;
      color: snow;
    }
  }

  .main-grid {
    display: grid;
    height: 1000px;
    grid-template-areas:
      "head head head"
      "main main main"
      "foot foot foot";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 50px;
  }

  .form-grid {
    display: grid;
    grid-template-columns: 100px 150px;
    grid-template-rows: auto;
    grid-gap: 5px 15px;

    .grid-item {
      display: flex;
      align-items: center;
    }
  }




  .container {
    display: flex;
    grid-area: main;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  footer {
    grid-area: foot;
    margin: 10px;
  }
}
